{% extends 'base.html.twig' %}
{% block carousel %}{% endblock %}
{% block content %}
    <!-- Three columns of text below the carousel -->
        <h5>Nos Produits en Vedette</h5>
        <div class="row">
            {% for product in products %}
                <div class="col-md-3">
                    {% include 'product/single_product.html.twig' %}
                </div>
            {% endfor %}
        </div><!-- /.row -->


        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Pourquoi Choisir la Boutique Tirelire. <span class="text-muted">
                </span></h2>
                <p class="lead">Découvrez notre tirelire connectée : collectez, suivez et gérez facilement vos fonds en temps réel depuis votre smartphone. Simplifiez vos collectes de fonds et encouragez l'épargne collaborative dès maintenant !.</p>
            </div>
            <div class="col-md-5">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="/assets/img/featurette.jpg" alt="">
            </div>
        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->
{% endblock %}