{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}
    <div style="text-align: center; padding: 0px;">
        <h1 style="padding-top: 1em;">Bienvenu dans ma boutique</h1>
    </div>
{% endblock %} 
